<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<div th:replace="manager/fragments/header :: html_head"/>        
    <title>Change Password</title>       
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <!--PRIVATE LIBRARY-->
    <link th:href="@{/css/doimk.css}" rel="stylesheet" type="text/css"/>
    <!---->
</head>
<body>   
	<div th:replace="manager/fragments/header :: header"/> 
	 <!--Main Navigation-->
    <!--Main layout-->
    <main style="margin-top: 58px">
    	<div class="container">
		    <h2>THAY ĐỔI MẬT KHẨU TÀI KHOẢN</h2>
		    <form action="/action_page.php">
		        <label>Mật khẩu cũ: </label>
		        <input type="password" id="name" name="oldpass" >
		        
		        <label>Mật khẩu mới: </label>
		        <input type="password" id="name" name="newpass" >
		        
		        <label>Nhập lại mật khẩu mới: </label>
		        <input type="password" id="name" name="ennewpass" >
		
		        <input class="btn btn-success" type="submit" value="THAY ĐỔI">
                <a class="btn btn-danger" th:href="@{/manager}">QUAY LẠI</a>
		    </form>
        </div>
    </main>
    <div th:replace="manager/fragments/footer :: footer"/>
    <script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>  
    <!-- Custom scripts -->
    <script type="text/javascript" th:src="@{/js/admin.js}"></script>
</body>
</html>