<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<div th:replace="manager/fragments/header :: html_head"/>        
    <title>Material Design for Bootstrap</title>       
</head>
<body>   
    <div th:replace="manager/fragments/header :: header"/>  
    <!--Main Navigation-->
        <!--Main layout-->
        <main style="margin-top: 58px">
            <div class="container mb-5">
                <h1 class="text-center">Trang chủ quản lí</h1>
                <p>
                	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                	et dolore magna aliqua. Nulla facilisi nullam vehicula ipsum a. Orci phasellus egestas tellus rutrum 
                	tellus pellentesque eu tincidunt tortor. Mi in nulla posuere sollicitudin aliquam ultrices. Ac 
                	feugiat sed lectus vestibulum mattis ullamcorper velit. Sit amet facilisis magna etiam. Est velit 
                	egestas dui id ornare arcu odio ut sem. Tortor dignissim convallis aenean et. Tempor orci eu lobortis 
                	elementum nibh tellus molestie. Orci porta non pulvinar neque.

					Elit sed vulputate mi sit amet mauris commodo quis. Massa sapien faucibus et molestie. Nisi vitae 
					suscipit tellus mauris a. Adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Curabitur 
					vitae nunc sed velit. Dolor sit amet consectetur adipiscing elit ut aliquam purus. Pretium fusce id 
					velit ut tortor pretium viverra. Ultrices sagittis orci a scelerisque. Pulvinar pellentesque habitant 
					morbi tristique senectus et. Lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Mauris 
					in aliquam sem fringilla ut morbi. Integer malesuada nunc vel risus commodo viverra maecenas. Faucibus 
					scelerisque eleifend donec pretium. Posuere morbi leo urna molestie at elementum eu facilisis. Non 
					pulvinar neque laoreet suspendisse interdum consectetur.
                </p>
            </div>
        </main>
        <!--Main layout-->
        <!-- MDB -->
    <div th:replace="manager/fragments/footer :: footer"/>
    <script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>  
    <!-- Custom scripts -->
    <script type="text/javascript" th:src="@{/js/admin.js}"></script>
    </body>   
</html >