<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<div th:replace="admin/fragments/header :: html_head"/>      
	<link rel="shortcut icon" href="/img/logo-mdb-jquery-small.webp">  
    <title>Trang chủ</title>       
</head>
<body>   
    <div th:replace="admin/fragments/header :: header"/>  
    <!--Main Navigation-->
        <!--Main layout-->
        <main style="margin-top: 70px">
            <div class="container mb-5">
                <h1 class="text-center">Trang chủ Admin</h1>
                <p>
            	CHÀO MỪNG BẠN ĐẾN VỚI CÔNG TY
	            </p>
	            <p>
	            	ĐÂY LÀ TRANG CHỦ CỦA QUẢN LÝ
	            </p>
	            <p>
	            	RẤT MONG BẠN CÓ THỂ CỐ GẮNG HẾT MÌNH VÌ CÔNG TY
	            </p>
	            <p>
	            	CHÚNG TÔI RẤT VUI VÌ SỰ ĐỒNG HÀNH CỦA CÁC BẠN
	            </p><br>
	            <img th:src="@{/img/admin.jpg}" />
            </div>
        </main>
        <!--Main layout-->
        <!-- MDB -->
    <div th:replace="admin/fragments/footer :: footer"/>
    <script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>  
    <!-- Custom scripts -->
    <script type="text/javascript" th:src="@{/js/admin.js}"></script>   
    </body>
</html>