<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="footer">
        <footer class="bg-secondary text-center px-5 py-3">
            <p class="" style="line-height: 50%">DEV Community – A constructive and inclusive social network for software developers.
                With you every step of your journey.
            </p>
            <span><i class="fab fa-facebook mx-2 fa-2x"></i></span>
            <span><i class="fab fa-google-plus mx-2 fa-2x"></i></span>
        </footer>
    </div>
</body>
</html>